@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Arial;
}

.border-line::before,
.border-line::after {
  content: '';
  border-top: 1px solid #b4b4b4;
  width: 30px;
}

.border-line::before {
  margin-right: 10px;
}

.border-line::after {
  margin-left: 10px;
}
